.status {
  padding: 0.25rem 0.75rem;
  border-radius: 9999px;
  font-size: 0.75rem;
  font-weight: 500;
  display: inline-block;
  text-transform: capitalize;
}

.statusPaid {
  background-color: hsl(var(--success-light));
  color: hsl(var(--success));
}

.statusPending {
  background-color: hsla(var(--primary-muted), 0.1);
  color: hsl(var(--primary-muted));
}
