.root {
  position: relative;
  display: flex;
  height: 2.5rem; /* 10rem in tw is 2.5rem */
  width: 2.5rem;
  flex-shrink: 0;
  overflow: hidden;
  border-radius: 9999px;
}

.image {
  aspect-ratio: 1 / 1;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.fallback {
  display: flex;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;
  border-radius: 9999px;
  background-color: #f3f4f6; /* gray-100 */
  color: #6b7280; /* gray-500 */
  font-size: 0.875rem;
  font-weight: 500;
}
